* {
	font-size: 	2.5vh;
	overflow:	hidden;
}

body {
	width: 		100vw;
	height: 	100vh;
	margin:		0;
}

textarea {
	display:	block;

	resize:		none;
}


#header {
	width:		100vw;
	height: 	8vh;
	
	text-align: center;
}
#header_title {
	height: 	3.5vh;
	font-size:	3.5vh;
	padding:	0.5vh;
	
	background-color:	#9CA183;
}
#header_subtitle {
	height: 	2.5vh;
	padding:	0.5vh;
	
	background-color:	#CCD4A1;
}


#content {
	width:		98vw;
	height:		87vh;
	
	padding:	1vh 1vw;
	
	background-color:	#AEAFCD;
}
#zen_input,
#html_output {
	width: 		70vw;
	height:		31vh;	/* +4vh for margin */
	
	margin:		2vh auto;
}
#convert_button {
	width: 		9vw; /* +1vw from padding*/
	height:		5vh; /* +1vh from padding and 4vh from margin*/
	
	line-height:5vh;
	
	margin:		2vh auto !important;
	padding:	0.5vh 0.5vw;
	
	background-color: white;
}

.button {
	overflow: visible;
}


#footer {
	width: 		100vw;
	height: 	2vh;
	
	padding:	0.5vh 0;
	
	font-size:	2vh;
	text-align:	center;
	
	background-color:	#904F38;
}